Package: com.tsangbaby.randomiconsflip
Name: Random Icon Flip
Depends: firmware (>= 15.0), mobilesubstrate
Version: 0.0.8
Architecture: iphoneos-arm
Description: Randomly flips visible Home Screen icons. Swift-core rewrite for iOS 15 and later.
Maintainer: Tsangbaby
Author: Tsangbaby
Icon: https://tsangbaby.github.io/Icon/RandomIconFlip.png
SileoDepiction: https://tsangbaby.github.io/depictions/com.tsangbaby.randomiconsflip/depiction.json
Conflicts: net.limneos.randomiconsflip
Replaces: net.limneos.randomiconsflip
Section: Tweaks
